/* CSS Style for Project 2 */

* { /* for all elements */
  box-sizing: border-box; /*padding and border are included in the width and height */
}

body { /* Page body */
  background-color: seashell;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

h1 { /* Heading 1 */
  color: blue;
  font-family: 'Atma', cursive;
  font-weight: 400;
  font-size: 300%;
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

h1.shadow { /* Heading 1 Shadow *?
  color: black;
  font-size: 3vw; /* Viewport is browser window size. 1vw = 1% of viewport width. If viewport is 50cm wide, 1vw is 0.5cm */
  text-shadow: 2px 2px 5px red;
}

h2, h3, h4 { /* Heading 2 - 4 Setting */
  font-family: 'Oldenburg', cursive;
  font-weight: 900;
  padding-left: 10px;
  padding-top: 30px;
}

.h2center { /* Heading 2 specific setting */
  text-align: center;
  font-size: 170%;
}

h3 { /* Heading 3 */
  font-size: 140%;
}

h4 { /* Heading 4 */
  font-size: 120%;
}

p { /* Paragraph Setting */
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  text-align: justify;
}

.center { /* Center Text */
  text-align: center;
  padding-left: 0px;
  padding-top: 0px;
}

.left { /* Left aligned text */
  text-align: left;
  padding-top: 0px;
}

.webpage-layout { /* Page layout for every web page */
	max-width: 960px;
	margin: 0 auto;
	box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
	border-radius: 12px 12px 0px 0px;
  background-color: rgba(191, 191, 63, 0.3); /* light green */
}

.header { /* Header at the top of every web page */
  font-family: 'Atma', cursive;
  background-color: lightgrey;
  text-align: center;
  padding: 15px 0;
}

/* Navigation Link Setting below */
.nav-links {
	float: left;
	width: 100%;
  background-color: olive;
  font-size: 175%;
}

.nav-links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	left:50%;
}

.nav-links ul li {
	float: left;
	position: relative;
	right: 50%;
}

.nav-links ul li a {
	padding: 10px 25px;
	display: block;
	text-decoration: none;
  color: firebrick;
}

.nav-links ul li a:hover {
  background-color: firebrick;
  color: olive;
}

.footer { /* Page footer */
  background-color: lightgrey;
	height: 50px;
  font-size: 20px;
	clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Link on the page body */
a.body-link:link {color:#ff0000;}
a.body-link:visited {color:#0000ff;}
a.body-link:hover {font-size:150%;}

/* Link for image caption */
a.img-link:link {color:white;}
a.img-link:visited {color:red;}
a.img-link:hover {background:lightgreen;}

/* Image box */
figure {
  border: 0px #cccccc solid;
  border: thick black solid;
  padding: 0;
  margin: auto;
  display: table;
  background-color: black;
  border-top: none;
  padding-top: 0;
}

/* Image Caption */
figcaption {
  font-family: 'Arima Madurai', cursive;
  background-color: black;
  color: white;
  padding: 2px;
  text-align: left;
  display: table-caption;
  caption-side: top;
  max-width: 560px;
  border: thick black solid;
  border-bottom: none;
}

.img-column { /* 2 column images */
  float: left;
  width: 50%;
  padding: 4px;
}

/* Clearfix (clear floats) for next row of images*/
.img-row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

img { /* Image Setting */
  align-self: center;
  width: 450px;
  height: 300px;
  max-width:450px;
  max-height: 300px;
}

video{ /* Video Setting */
  align-self: center;
  width: 450px;
  height: 340px;
  max-width:450px;
  max-height: 340px;
}

ul li { /* Line Item Setting */
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  padding-left: 10px;
  text-align: justify;
  padding-right: 20px;
}

.li-padding { /* Line item specific setting */
  padding-bottom: 5px;
}

/* Align left, center, right on a Resume line */
.alignleft {
  float: left;
  width:33.33333%;
  text-align:left;
  padding-left: 10px;
  padding-top: 40px;
  font-family: 'Arima Madurai', cursive;
  font-size: 16px;
}

.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
  padding-top: 20px;
  font-family: 'Arima Madurai', cursive;
  font-size: 300%;
  font-weight: 900;
}

.alignright {
 float: left;
 width:33.33333%;
 text-align:right;
 padding-top: 40px;
 padding-right: 20px;
 font-family: 'Arima Madurai', cursive;
 font-size: 16px;
}​

/* pseduo-element to take care of clearing floating element */
.clearfix::after {
  padding-left: 0px;
  padding-top: 0px;
  content: "";
  clear: both;
  display: block;
}

/* Take care of overflow outside of container */
.clearfix {
  content: "";
  clear: both;
  display: block;
  text-align:center;
  font-family: 'Arima Madurai', cursive;
  font-size: 150%;
  font-weight: 900;
  padding-top: 10px;
}

#intro { /* Intro specific setting */
  padding-top: 50px;
  text-align: center;
}

#contact { /* Contact specific setting */
  padding-top: 50px;
  text-align: center;
}

#resume-name { /* Resume name specific */
  font-weight: 400;
  text-align: center;
  color: blue;
  font-size: 30px;
}
